// 3rd Party packages
@use '../node_modules/normalize.css/normalize.css';

// Globals
@import './base/variables';
@import './base/baseline';
@import './base/mixins';

@import url('https://rsms.me/inter/inter.css');

// BEM Blocks
@import './modules/nav';
@import './modules/btn';