*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

html  {
    font-family: 'Inter', sans-serif;
    color: $white;
}


a {
    color: $linkBlack;
    text-decoration: none;
}


p,
li {
  line-height: 1.65;
}

ul {
  list-style: none;
}
