*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

html  {
    font-family: 'Inter', sans-serif;
}


a {
    color: $linkBlack;
    text-decoration: none;
}


p,
li {
  line-height: 1.65;
}

ul {
  list-style: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}