//Base
@mixin button-base(){
  display: inline-block;
  width: 150px;
  text-align: center;
  background-color: $buttonBlack;
  color: #fff;
  padding: 16px 25px;
  border-radius: 8px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  transition: background-color 1s ease;
  &:hover {
    background-color: lighten($color: $buttonBlack, $amount: 10%);
  }
  margin-right: 1rem;
}

// Responsivity
@mixin tablet-large {
  @media (max-width: 769px) {
    @content;
  }
}

@mixin tablet-small {
  @media (max-width: 540px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 375px) {
    @content; 
  }
}

// Animations
@mixin fadeInTop {
  -webkit-animation: fadeInTop .8s both;
  -moz-webkit-animation: fadeInTop .8s both;
  -o-animation: fadeInTop .8s both;
  animation: fadeInTop .8s both;
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInTop{
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInTop{
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.fadeInBottom {
  -webkit-animation: fadeInBottom .8s both;
  -moz-webkit-animation: fadeInBottom .8s both;
  -o-animation: fadeInBottom .8s both;
  animation: fadeInBottom .8s both;
}

@-webkit-keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInBottom{
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInBottom{
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
