.about {
  .content {
    display: flex;
    margin-bottom: 80px;
    @include tablet-large {
      flex-direction: column-reverse;
    }

    #me {
      border-radius: 20%;
      min-width: 300px;
      max-width: 400px;
      width: 100%;
      @include tablet-large {
        display:block;
        margin: auto;
      }
    }

    .paragraph-light {
      padding: 0 70px 50px 0;
      color: #000;
      font-size: 20px;
      line-height: 32px;
      font-weight: 300;
      letter-spacing: 0;
      text-transform: none;
      p{
        margin: 20px 0;
      }
      @include tablet-large {
        padding: 20px 0 0 0;
      }
      @include tablet-small {
        font-size: 15px;
        
      }
    }

    .skills-container {
      .skill-box {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        p {
          margin-top: 10px;
          color: $darkGrey;
          font-weight: 400;
          font-size: 15px;
          @include tablet-small {
            font-size: 12px;
          }
        }
        img {
          @include tablet-small {
            max-width: 30px;
          }
          max-width: 50px;
        }
        padding: 10px;
      }
    }
  }
}
