.btn {
  @include button-base;
  margin-right: 1rem;
  &--github {

     padding: 3.5px 16px;

    .github-logo {
       padding: 0;
      -webkit-filter: invert(100%); /* Safari/Chrome */
      filter: invert(100%);
      max-height: 45px;
      vertical-align: middle;
    }
  }

  @include tablet-small {
    margin-top: 10px;
  }
}

input[type='submit'] {
@include button-base;
}