.btn {
    width: 150px;
    text-align: center;
    background-color: $buttonBlack;
    color: #fff;
    padding: 16px 25px;
    border-radius: 8px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    transition: background-color 1s ease;
    
    &:hover {
        background-color: lighten($color: $buttonBlack, $amount: 10%);
    }
}