.contact-form-wrap {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  border-radius: 14px;
  border: #000 1px solid;
  padding: 60px;
  margin-bottom: 120px;

  h2 {
    display: inline-block;
    font-size: 52px;
    line-height: 68px;
  }
  .contact-form {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    max-width: 700px;
    padding: 10px;

    label {
      display: block;
      margin-bottom: 5px;
      color: #8f929e;
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;
    }

    &__name-wrap {
      grid-column: 1/1;
      grid-row: 1/2;
    }
    &__email-wrap {
      grid-column: 2/2;
      grid-row: 1/2;
    }

    &__message-wrap {
      grid-column: 1/3;
      grid-row: 2/3;
    }

    &__text-field {
      width: 100%;
      font-size: 15px;
      border: 1px #e4e4e4;
      border-radius: 8px;
      padding: 30px 20px 30px 15px;
      background-color: #fff;
    }

    button {
      border: 0;
    }
  }

  @include tablet-large {
    grid-template-columns: 1fr;
    padding: 10px;
    border: 0;

    .contact-form {
      grid-column-gap: 30px;
      // grid-row-gap: 10px;
      // max-width: 700px;
      // padding: 10px;

      &__name-wrap {
        grid-column: 1/1;
        grid-row: 1/1;
      }
      &__email-wrap {
        grid-column: 1/1;
        grid-row: 2/2;
      }

      &__message-wrap {
        grid-column: 1/1;
        grid-row: 3/3;
      }

      &__text-field {
        width: 100%;
        font-size: 15px;
        border: 1px #e4e4e4;
        border-radius: 8px;
        padding: 15px;
        background-color: #fff;
      }
    }
    padding: 0;
  }
}

.wpcf7 {
  form {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    max-width: 700px;
    padding: 10px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #8f929e;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    font-size: 15px;
    border: 1px #e4e4e4;
    border-radius: 8px;
    padding: 30px 20px 30px 15px;
    background-color: #fff;
  }

  p:nth-of-type(1) {
    grid-column: 1/1;
    grid-row: 1/2;
  }
  p:nth-of-type(2) {
    grid-column: 2/2;
    grid-row: 1/2;
  }
  p:nth-of-type(3) {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  @include tablet-large {


      form {

        grid-template-columns: 1fr;
        padding: 10px;
        border: 0;
        grid-column-gap: 30px;
      }
      // grid-row-gap: 10px;
      // max-width: 700px;
      // padding: 10px;

      p:nth-of-type(1) {
        grid-column: 1/1;
        grid-row: 1/1;
      }
      p:nth-of-type(2) {
        grid-column: 1/1;
        grid-row: 2/2;
      }

      p:nth-of-type(3) {
        grid-column: 1/1;
        grid-row: 3/3;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        padding: 15px;
      }
    }
    padding: 0;
  }

