.headline {
  font-weight: 300;

  &--large {
    font-size: 56px;
    line-height: 70px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $black;
    font-size: 80px;
    line-height: 90px;
    font-weight: 600;
    text-transform: none;
    overflow: visible;
    @include tablet-small {
      font-size: 44px;
      line-height: 48px;
    }
  }

  &--large-medium {
    color: $darkGrey;
    font-size: 26px;
    font-weight: 300;
    line-height: 46px;
    display: block;

    @include tablet-small {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &--medium {
    color: $black;
    font-size: 44px;
    line-height: 62px;
    font-weight: 500;
    padding: 20px 0 20px 0;
  }


  &--small {
    font-weight: 500;
    color: $darkGrey;
    padding: 20px 0 20px 0;
  }
}
