.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;


  background-color: transparent;
  @include fadeInTop;
}

.nav-logo {
  font-size: 1.2rem;
}

.hamburger {
  display: none;
  @include tablet-small {
    cursor: pointer;
    display: block;
  }

  &.active {
    .bar:nth-of-type(2) {
      opacity: 0;
    }
    .bar:nth-of-type(1) {
      transform: translateX(10px) rotate(45deg) translateY(10px);
      width: 20px;
      margin: 0;
    }
    .bar:nth-of-type(3) {
      transform: translateX(10px) rotate(-45deg) translateY(-10px);
      width: 20px;
      margin: 0;
    }
  }
}

.bar {
  display: block;
  height: 2px;
  background-color: $black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar:nth-of-type(1) {
  width: 15px;
  margin: 5px 10px 5px 0px;
}
.bar:nth-of-type(2) {
  width: 25px;
  margin: 5px auto;
}
.bar:nth-of-type(3) {
  width: 15px;
  margin: 5px 0 5px 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet-small {
    opacity: 0;
    position: fixed;
    top: -12rem;
    right: 0%;
   
    flex-direction: column;
    transition: 0.3s;
    background-color:rgba(255,255,255,0.3);
    z-index: 100;
    width: 100%;

  }

  &.active {
    right: 0%;
    top: 4rem;
    opacity: 1;
    
    // left: 30vw;
  }

  .nav-menu__item {
    margin-left: 2rem;
    
    .nav-menu__link {
      font-weight: 500;
    }
    
    @include tablet-small {
      margin: 1rem 0;
      margin-left: 0;
    }
  }
}
