.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-logo {
    font-size: 1.2rem;
}

.hamburger {
    display: none;

    @include tablet {
        cursor: pointer;
        display: block;
    }

    &.active {
        .bar:nth-of-type(2){
            opacity: 0;
        }
        .bar:nth-of-type(1){
            transform: translateX(10px) rotate(45deg) translateY(10px);
            width: 20px;
            margin: 0;
        }
        .bar:nth-of-type(3){
            transform: translateX(10px) rotate(-45deg) translateY(-10px);
            width: 20px;
            margin: 0;
        }
    }
}

.bar {
    display: block;
    height: 2px;
    background-color: $black;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.bar:nth-of-type(1){
    width: 15px;
    margin: 5px 10px 5px 0px;
}
.bar:nth-of-type(2){
    width: 25px;
    margin: 5px auto;
}
.bar:nth-of-type(3){
    width: 15px;
    margin: 5px 0 5px 10px ;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    @include tablet {
        position: fixed;
        top: 5rem;
        right: -100%;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        // padding-right: 3rem;
        transition: 0.3s;
        background-color: transparent;

    }

    &.active {
        right: 0;
    }

    .nav-menu__item {
        margin-left: 2rem;

        .nav-menu__link {
            font-weight: 500;
        }

        @include tablet {
            margin: 1rem 0;
        }
    }

}