@-webkit-keyframes gradient-animation {
  from {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0.7;
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0.5;
  }
}

@keyframes gradient-animation {
  from {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0.7;
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0.5;
  }
}

.page-banner {
  &__content {
    margin: 100px 0 100px 0;
  }


  &__grid {
    margin-top: 16px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
  }

  &__title {
    font-size: 56px;
  }

  &__tags {
    color: #000;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: 30px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 0;
    display:inline-block;
  }

  &__bg-container {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 1100px;
    overflow: hidden;
    z-index: -1;

    .gradient-animation {
      position: static;
      left: auto;
      top: -6%;
      right: -12%;
      bottom: auto;
      overflow: hidden;
      min-width: 1000px;
      margin-top: -90px;
      margin-right: 0;
      padding-top: 0;
      opacity: 1;
      -webkit-animation: gradient-animation 10s linear infinite;
      -moz-animation: gradient-animation 10s linear infinite;
      -ms-animation: gradient-animation 10s linear infinite;
      -o-animation: gradient-animation 10s linear infinite;
      animation: gradient-animation 10s linear infinite;
      animation-direction: alternate;
    }

    img {
      max-width: 100%;
      display: block;
    }
  }
}

.project-banner {
  margin: 0 20px 0 20px;

  &__bg-image{
    opacity: 0.4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    max-height: 450px;
    filter: blur(8px);
  -webkit-filter: blur(8px);
  }
}