.project-content {
  margin-bottom: 80px;
  h2 {
      color: $black;
      font-size: 28px;
      line-height: 62px;
      font-weight: 700;
      padding: 20px 0 20px 0;
  }

  p {
    margin-bottom: 15px;
    color: $black;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0;
  }

  img {
    border-radius: 15px!important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}